* {
    box-sizing: border-box;
}
body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto 1fr auto;
}
  
header {
    background: rgb(170, 111, 62);
    padding: 2rem;
    grid-column: 1 / 3;
   
}
h1{

    text-align: right;

}
  
nav {
    grid-column: 1 / 3;
    background-color: rgb(245, 225, 198);
    padding: 1rem;
    text-align: right;
}
  
main {
    background: rgb(250, 250, 249);
    height: 100%;
    padding: 1rem;
}
  
aside {
    background: yellow;
    grid-column: 2 / 3;
    padding: 1rem;
}
  
footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 16px;
    text-align: left;
    background-color: #f1f1f1;
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    
  }

.column {
    float: left;
    width: 50%;
    padding: 0 10px;
  }

.row {margin: 0 -5px;}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}